body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,242,166,1) 100%, rgba(182,255,227,1) 100%, rgba(8,131,80,1) 100%, rgba(0,212,255,1) 100%);
}

.container{
   background: white;
   position: center;
}
.col img{
    width: 1000px;

    height: 100%;
   
}
#naviniciosecion{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,242,166,1) 100%, rgba(182,255,227,1) 100%, rgba(8,131,80,1) 100%, rgba(0,212,255,1) 100%);
}
