html{

scroll-behavior: smooth;

}

.animado{
    opacity: 0;
    transition: all 0.5s;


}

body{

    background-color: rgb(255, 255, 255);
    
    
}



.bg-img-1{
        background-image: url('/Ecommerce/img/pexels-trung-nguyen-7904879.jpg');
        opacity: 90%;
        
}

.bg-img-2{
        background-image: url('/Ecommerce/img/vivero.jpg');
        opacity: 90%;
        
}

.bg-img-3{
         background-image: url('/Ecommerce/img/Is-tap-root-good-for-plants.jpg');
         opacity: 90%;
}
.carousel-image{
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.wrap{
  margin-bottom: 450px;
  font-size: large;
  color: white;
}

.class-contenedor{


    display: flex;
    height: 100vh;
    align-items: center;
    justify-content:center ;
    
}
#class-contenedor ul li{
   display: inline-block;
   margin: 0 5px;
   width: 50px;
   height: 50px;
   text-align: center;
/*  Activar  Botones */ 
}
#class-contenedor ul li a{
    display: block;
    padding: 0 10px;
    background: rgb(80, 76, 76);
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px black;
    transition: .2s;
}
#class-contenedor ul:hover a{
    filter: blur(2px);
}
#class-contenedor ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 3px 5px 0px black;
    filter: none;
}

#class-contenedor ul li .facebook:hover{
    background: rgb(39, 114, 252);
}
#class-contenedor ul li .instagram:hover{
    background: rgb(207, 37, 199);
}
#class-contenedor ul li .whatsapp:hover{
    background: rgb(38, 197, 91);
}




.logo{
    width: 100px;
    height: 100px;
}

footer{
    background-color:  rgb(255, 255, 255);
}

.circulo {
    border-radius: 100%;
    width: 100px;
    height: 100px;
 
    
}
.regalar{
    background-image: url("/Ecommerce/img/green-houseplant-background-plant-lovers-260nw-2061262211.webp");
    width: 100%;
    
    

}

#local{
    background: white;
    padding-bottom: 300px;
    display:flex;
    justify-content: center;

}
.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}
@media(max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper{
        width: 90%;
        margin:auto;
        padding-top: 50px;
    }
}

#numero-local div{
    padding: 0 20px 0 0;
    height: 48px;

}
#numero-local div:not(:last-child){
    border-right: 2px solid rgb(85, 85, 85) ;
}



#effect ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: rgb(42, 168, 42);
    height: 5px;
    top: 0;
    
    position: relative;
    transition: 0.2s;


}
#effect ul li a:hover:before{
    width: 100%;
}

